<template>
<div class="date-viewer">
  {{formatDate(value)}}
</div>
</template>

<script>
import { formatDate } from '../../../utills/formatters';

export default {
  name: 'dateViewer',
  components: {},
  props: {
    value: {
      type: [Date, String],
      default: () => new Date(),
    },
  },
  computed: {},
  methods: {
    formatDate,
  },
  data() {
    return {};
  },
};
</script>

<style lang="scss">

  .date-viewer {

  }
</style>
