@import "./base";

.book-container {
  display: flex;
  flex-direction: column;
  @extend %fullHeightWidth;
  padding: 2rem;

  & .action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
    & > * {
      margin-left: 1rem;
    }
  }
}
