<template>
<form class="form-book-editor">
  <text-editor
    :label="'Имя автора'"
    :validating="true"
    :required="true"
    :customValidateMessage="'Имя автора должно быть меньше 20 символов'"
    :invalid="!validateFirstName(book.firstName)"
    @input="updateBook('firstName', $event)"
    :value="book.firstName"></text-editor>
  <text-editor
    :label="'Фамилия автора'"
    :validating="true"
    :required="true"
    :customValidateMessage="'Фамилия автора должна быть меньше 20 символов'"
    :invalid="!validateLastName(book.lastName)"
    @input="updateBook('lastName', $event)"
    :value="book.lastName"></text-editor>
  <text-editor
    :label="'Заголовок'"
    :validating="true"
    :required="true"
    :customValidateMessage="'Заголовок должен быть меньше 20 символов'"
    :invalid="!validateHeader(book.header)"
    @input="updateBook('header', $event)"
    :value="book.header"></text-editor>
  <text-editor
    :label="'Издатель'"
    :validating="true"
    :required="true"
    :customValidateMessage="'Издатель должен быть меньше 30 символов'"
    :invalid="!validatePublisher(book.publisher)"
    @input="updateBook('publisher', $event)"
    :value="book.publisher"></text-editor>
  <number-editor
    :label="'Кол-во страниц'"
    :validating="true"
    :customValidateMessage="'Количество страниц должно быть больше 0 и меньше 10000'"
    :invalid="!validatePagesCount(book.pages)"
    @input="updateBook('pages', $event)"
    :value="book.pages"></number-editor>
  <date-editor
    :label="'Год публикации'"
    :validating="true"
    :customValidateMessage="'Год публикации должен быть больше 1800'"
    :invalid="invalidPublishYear"
    @input="updateBook('publishYear', $event)"
    :value="book.publishYear"></date-editor>
  <date-editor
    :label="'Год издания'"
    :validating="true"
    :customValidateMessage="'Год издания должен быть больше 1800'"
    :invalid="invalidEditionYear"
    @input="updateBook('editionYear', $event)"
    :value="book.editionYear"></date-editor>
  <image-editor
    @input="updateBook('image', $event)"
    :value="book.image"></image-editor>
</form>
</template>

<script>
import textEditor from '../base/fieldsEditors/textEditor';
import numberEditor from '../base/fieldsEditors/numberEditor';
import dateEditor from '../base/fieldsEditors/dateEditor';
import imageEditor from '../base/fieldsEditors/imageEditor';
import * as validators from '../../utills/validators';

export default {
  name: 'bookEditor',
  components: {
    textEditor,
    numberEditor,
    dateEditor,
    imageEditor,
  },
  props: {
    book: {
      type: Object,
      default: () => ({}),
    },
  },
  computed: {
    invalidPublishYear() {
      if (this.book.publishYear instanceof Date) {
        return !this.validatePublishYear(this.book.publishYear);
      }
      return !this.validatePublishYear(new Date(this.book.publishYear));
    },
    invalidEditionYear() {
      if (this.book.editionYear instanceof Date) {
        return !this.validatePublishYear(this.book.editionYear);
      }
      return !this.validatePublishYear(new Date(this.book.editionYear));
    },
  },
  methods: {
    updateBook(field, value) {
      this.$emit('update', {
        field,
        value,
      });
    },
    ...validators,
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">
  .form-book-editor {
    padding: 1rem 2rem;
  }
</style>
