<template>
<div class="book-container">
  <bookEditor
    @update="updateBook"
    :book="book"></bookEditor>
  <div class="action-buttons">
    <baseButton
      @click="exitWithoutSavingHandler"
      :type="'danger'">
      Отмена
    </baseButton>
    <baseButton
      :disabled="saveDisabled"
      @click="createBookHandler"
      :type="'success'">
      Сохранить
    </baseButton>
  </div>
</div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';
import baseButton from '../base/baseButton';
import bookEditor from './bookEditor';
import { validateBook } from '../../utills/validators';

export default {
  name: 'edit',
  components: {
    bookEditor,
    baseButton,
  },
  props: {},
  computed: {
    saveDisabled() {
      return !this.validateBook(this.book);
    },
    ...mapGetters({}),
  },
  methods: {
    exitWithoutSavingHandler() {
      this.$router.push({
        name: 'booksSearch',
      });
    },
    createBookHandler() {
      this.createBook(this.book);
      this.$router.push({
        name: 'booksSearch',
      });
    },
    updateBook({ field, value }) {
      this.book = {
        ...this.book,
        [field]: value,
      };
    },
    validateBook,
    ...mapActions({
      createBook: 'createBook',
    }),
    ...mapMutations({
    }),
  },
  data() {
    return {
      book: {
        firstName: '',
        lastName: '',
        header: '',
        publisher: '',
        pages: 0,
        publishYear: new Date(),
        editionYear: new Date(),
      },
    };
  },
};
</script>

<style scoped lang="scss">
  @import "../../styles/book";

</style>
