<template>
<div class="book-container">
  <bookEditor
    @update="updateBook"
    :book="book"></bookEditor>
  <div class="action-buttons">
    <baseButton
      @click="exitWithoutSavingHandler"
      :type="'danger'">
      Выйти без сохранения
    </baseButton>
    <baseButton
      :disabled="saveDisabled"
      @click="saveAndExitHandler"
      :type="'success'">
      Сохранить и выйти
    </baseButton>
  </div>
</div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';
import baseButton from '../base/baseButton';
import bookEditor from './bookEditor';
import { validateBook } from '../../utills/validators';

export default {
  name: 'edit',
  components: {
    bookEditor,
    baseButton,
  },
  props: {
    id: {
      type: [String, Number],
      required: true,
    },
  },
  computed: {
    saveDisabled() {
      return !this.validateBook(this.book);
    },
    ...mapGetters({
      book: 'editedBook',
    }),
  },
  methods: {
    exitWithoutSavingHandler() {
      this.$router.push({
        name: 'bookView',
        params: {
          id: this.id,
        },
      });
      this.exitWithoutSaving();
    },
    saveAndExitHandler() {
      this.saveAndExit();
      this.$router.push({
        name: 'bookView',
        params: {
          id: this.id,
        },
      });
    },
    updateBook({ field, value }) {
      this.updateEditedBook({
        field,
        value,
      });
    },
    validateBook,
    ...mapActions({
      saveAndExit: 'saveEditedBook',
    }),
    ...mapMutations({
      updateEditedBook: 'UPDATE_EDITED_BOOK',
      exitWithoutSaving: 'DISCARD_CHANGES_EDITED_BOOK',
    }),
  },
  data() {
    return {};
  },
  mounted() {
    if (!this.book) {
      this.$router.push({
        name: 'Home',
      });
    }
  },
};
</script>

<style scoped lang="scss">
  @import "../../styles/book";

</style>
