<template>
<div class="books-search-table">
  <b-table
    striped
    hover
    show-empty
    @row-clicked="openApplication"
    :sortCompare="sortCompare"
    :fields="fields"
    :items="books">
    <template v-slot:cell(publishYear)="data">
      <dateViewer :value="data.item.publishYear"></dateViewer>
    </template>
    <template v-slot:cell(editionYear)="data">
      <dateViewer :value="data.item.editionYear"></dateViewer>
    </template>
    <template v-slot:empty="scope">
      <div class="empty-table-container">
        <div class="label">
          У вас ещё не добавлено ни одной книги.
        </div>
        <div class="buttons-container">
          <baseButton
            @click="addBook"
            :type="'success'">
            Добавить книгу
          </baseButton>
          <baseButton
            @click="generateBooks"
            :type="'success'">
            Сгенерировать 10 книг
          </baseButton>
        </div>
      </div>
    </template>
  </b-table>
</div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';
import dateViewer from '../base/table/dateViewer';
import baseButton from '../base/baseButton';

export default {
  name: 'search',
  components: {
    dateViewer,
    baseButton,
  },
  props: {},
  computed: {
    ...mapGetters({
      books: 'books',
    }),
  },
  methods: {
    addBook() {
      this.$router.push({
        name: 'booksCreate',
      });
    },
    openApplication(item) {
      this.setBook(this.clone(item));
      this.$router.push({
        name: 'bookView',
        params: {
          id: item.id,
        },
      });
    },
    sortCompare(aRow, bRow, key) {
      const a = aRow[key]; // or use Lodash `_.get()`
      const b = bRow[key];
      if (a instanceof Date && b instanceof Date) {
        return this.compare(a, b);
      }
      return this.compare(a.toString().toLowerCase(), b.toString().toLowerCase());
    },
    compare(a, b) {
      return a < b ? -1 : a > b ? 1 : 0;
    },
    ...mapActions({
      generateBooks: 'generateBooks',
    }),
    ...mapMutations({
      setBook: 'SET_BOOK',
    }),
  },
  data() {
    return {
      fields: [
        { key: 'firstName', label: 'Имя автора', sortable: false },
        { key: 'lastName', label: 'Фамилия автора', sortable: false },
        { key: 'header', label: 'Заголовок', sortable: true },
        { key: 'publisher', label: 'Издатель', sortable: false },
        { key: 'pages', label: 'Кол-во страниц', sortable: false },
        { key: 'publishYear', label: 'Год публикации', sortable: true },
        { key: 'editionYear', label: 'Год издания', sortable: false },
      ],
    };
  },
  mounted() {

  },
};
</script>

<style scoped lang="scss">
  @import "../../styles/base";

  .books-search-table {
    @extend %fullHeightWidth;
    display: flex;
    & .empty-table-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & .label {
        margin-bottom: 1rem;
      }
      & .buttons-container {
        display: flex;
        & > button {
          margin-left: 1rem;
        }
      }
    }
  }
</style>
