<template>
<div class="book-container">
  <text-viewer
    :label="'Имя автора'"
    :value="book.firstName"></text-viewer>
  <text-viewer
    :label="'Фамилия автора'"
    :value="book.lastName"></text-viewer>
  <text-viewer
    :label="'Заголовок'"
    :value="book.header"></text-viewer>
  <text-viewer
    :label="'Издатель'"
    :value="book.publisher"></text-viewer>
  <text-viewer
    :label="'Кол-во страниц'"
    :value="book.pages"></text-viewer>
  <date-viewer
    :label="'Год публикации'"
    :value="book.publishYear"></date-viewer>
  <date-viewer
    :label="'Год издания'"
    :value="book.editionYear"></date-viewer>
  <image-viewer
    :label="'Изображене'"
    :value="book.image"></image-viewer>
  <div class="action-buttons">
    <baseButton
      @click="startEdit"
      :type="'warning'">
      Редактировать
    </baseButton>
    <baseButton
      @click="removeBookHandler"
      :type="'danger'">
      Удалить
    </baseButton>
  </div>
</div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';
import dateViewer from '../base/fieldsViewers/dateViewer';
import textViewer from '../base/fieldsViewers/textViewer';
import imageViewer from '../base/fieldsViewers/imageViewer';
import baseButton from '../base/baseButton';

export default {
  name: 'view',
  components: {
    dateViewer,
    textViewer,
    imageViewer,
    baseButton,
  },
  props: {
    id: {
      type: [String, Number],
      required: true,
    },
  },
  computed: {
    ...mapGetters({
      book: 'book',
    }),
  },
  methods: {
    removeBookHandler() {
      this.$router.push({
        name: 'booksSearch',
      });
      this.removeBook(this.id);
    },
    startEdit() {
      this.setEditBook(this.clone(this.book));
      this.$router.push({
        name: 'bookEdit',
        params: {
          id: this.id,
        },
      });
    },
    ...mapActions({
      removeBook: 'removeBook',
    }),
    ...mapMutations({
      setEditBook: 'SET_EDITED_BOOK',
    }),
  },
  data() {
    return {
    };
  },
  mounted() {
    if (!this.book) {
      this.$router.push({
        name: 'Home',
      });
    }
  },
};
</script>

<style scoped lang="scss">
  @import "../../styles/book";

</style>
