<template>
<div class="books-container">
  <router-view/>
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'books',
  components: {},
  props: {},
  computed: {
    ...mapGetters({}),
  },
  methods: {
    ...mapActions({}),
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">
  @import "../styles/base";

  .books-container {
    @extend %fullHeightWidth;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
