<template>
<div class="home-container">
  Тестовое задание Семёна Евстигнеева
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'home',
  components: {},
  props: {},
  computed: {
    ...mapGetters({}),
  },
  methods: {
    ...mapActions({}),
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">
  @import "../styles/base";

  .home-container {
    @extend %fullHeightWidth;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
