<template>
  <button
    type="button"
    @click="$emit('click', $event)"
    :disabled="disabled"
    :class="classes">
    <slot></slot>
  </button>
</template>

<script>

export default {
  name: 'baseButton',
  components: {},
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
    type: {
      type: String,
      default: '',
    },
  },
  computed: {
    classes() {
      const baseClass = {
        btn: true,
      };
      if (this.type) {
        baseClass[`btn-${this.type}`] = true;
      }
      return baseClass;
    },
  },
  methods: {},
  data() {
    return {};
  },
};
</script>

<style>

</style>
