<template>
<div class="nav-menu-container">
  <router-link to="/">Домашняя</router-link>
  <router-link to="/books/search">Список книг</router-link>
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'navMenu',
  components: {},
  props: {},
  computed: {
    ...mapGetters({}),
  },
  methods: {
    ...mapActions({}),
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">
  .nav-menu-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    & a {
      margin-right: 20px;
    }
  }
</style>
