<template>
<baseEditor>
  <template v-slot:header>
    {{label}}
    <b v-if="required" style="color:red">*</b>
  </template>
  <input
    class="form-control"
    type="date"
    ref="input"
    @blur="blurHandler"
    :class="inputClasses"
    :required="required"
    @input="inputHandler"
    :value="displayedDate"/>
</baseEditor>
</template>

<script>
import baseEditor from './baseEditor';
import * as formatters from '../../../utills/formatters';

export default {
  name: 'dateEditor',
  components: {
    baseEditor,
  },
  props: {
    label: {
      type: String,
      default: '',
    },
    value: {
      type: [Date, String],
      validator: (value) => {
        const d = new Date(value);
        return !isNaN(d.getTime());
      },
      default: () => new Date(),
    },
    customValidateMessage: {
      type: String,
      default: '',
    },
    required: {
      type: Boolean,
      default: false,
    },
    validating: {
      type: Boolean,
      default: false,
    },
    invalid: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    displayedDate() {
      return formatters.formatDate(new Date(this.value), 'YYYY-MM-DD');
    },
    inputClasses() {
      return {
        'is-invalid': this.validating && this.invalid,
      };
    },
  },
  methods: {
    blurHandler() {
      if (this.validating && this.invalid) {
        this.$refs.input.setCustomValidity(this.customValidateMessage);
      } else {
        this.$refs.input.setCustomValidity('');
      }
      this.$refs.input.reportValidity();
    },
    inputHandler($event) {
      this.$emit('input', new Date($event.target.value));
    },
  },
  data() {
    return {};
  },
};
</script>

<style>

</style>
