<template>
<div class="image-container">
  <b-form-file
    v-if="!value"
    ref="file-input"
    @input="handleInput"
    placeholder="Choose a file or drop it here..."
    drop-placeholder="Drop file here..."
    accept="image/jpeg, image/png, image/gif"></b-form-file>
  <img
    v-if="value"
    class="image"
    :src="value"
    :alt="alt">
  <img
    v-if="value"
    @click="$emit('input', '')"
    class="delete-svg"
    height="32"
    width="32"
    src="/static/assets/base/quit.svg"
    />
</div>
</template>

<script>

export default {
  name: 'imageEditor',
  components: {},
  props: {
    label: {
      type: String,
      default: '',
    },
    value: {
      type: String,
      default: '',
    },
    alt: {
      type: String,
      default: 'base description',
    },
  },
  computed: {},
  methods: {
    handleInput($event) {
      this.toBase64($event)
        .then(base64Image => this.$emit('input', base64Image))
        .catch(() => this.$refs['file-input'].reset());
    },
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">
  .image-container {
    position: relative;
    & .hidden {
      display: none;
    }
    & .image {
      margin-top: 1rem;
      height: 400px;
      width: 400px;
    }
    & .delete-svg {
      position: absolute;
      left: 1rem;
      top: 2rem;
      cursor: pointer;
    }
  }
</style>
