<template>
<baseEditor>
  <template v-slot:header>
    {{label}}
    <b v-if="required" style="color:red">*</b>
  </template>
  <input
    class="form-control"
    :class="inputClasses"
    :required="required"
    ref="input"
    @input="inputHandler"
    :value="value"/>
</baseEditor>
</template>

<script>
import baseEditor from './baseEditor';

export default {
  name: 'textEditor',
  components: {
    baseEditor,
  },
  props: {
    label: {
      type: String,
      default: '',
    },
    value: {
      type: String,
      default: '',
    },
    required: {
      type: Boolean,
      default: false,
    },
    validating: {
      type: Boolean,
      default: false,
    },
    invalid: {
      type: Boolean,
      default: false,
    },
    customValidateMessage: {
      type: String,
      default: '',
    },
  },
  computed: {
    inputClasses() {
      return {
        'is-invalid': this.validating && this.invalid,
      };
    },
  },
  methods: {
    inputHandler($event) {
      this.$emit('input', $event.target.value);
      if (this.validating && this.invalid) {
        this.$refs.input.setCustomValidity(this.customValidateMessage);
      } else {
        this.$refs.input.setCustomValidity('');
      }
      this.$refs.input.reportValidity();
    },
  },
  data() {
    return {};
  },
};
</script>

<style>

</style>
