<template>
  <div id="app">
    <navMenu></navMenu>
    <router-view/>
  </div>
</template>

<script>
import navMenu from './components/base/navMenu';

export default {
  name: 'App',
  components: {
    navMenu,
  },
  watch: {
    $route(to) {
      if (to.params.id) {
        document.title = `${to.meta.title} #${to.params.id}`;
      } else {
        document.title = to.meta.title || 'Тестовое задание';
      }
    },
  },
};
</script>

<style lang="scss">
  @import "./styles/base";
  @import '../node_modules/bootstrap/scss/bootstrap';
  @import '../node_modules/bootstrap-vue/src/index.scss';

  html, body, #app {
    @extend %fullHeightWidth;
    padding: 0;
    margin: 0;
  }
  #app {
    flex-direction: column;
    padding-top: 60px;
    display: flex;
    justify-content: center;
  }
</style>
