<template>
<div class="text-viewer-container">
  <div
    class="control-label">
    <slot name="header"></slot>
  </div>
  <div class="form-control"><slot></slot></div>
</div>
</template>

<script>

export default {
  name: 'baseViewer',
  components: {},
  props: {
    hasLabel: {
      type: Boolean,
      default: false,
    },
  },
  computed: {},
  methods: {},
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">
  .text-viewer-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    & .control-label {
      & > * {
        margin-bottom: 0.5rem;
      }
    }
  }
</style>
