<template>
<baseViewer>
  <template v-slot:header>
    {{label}}
  </template>
  {{formatDate(value)}}
</baseViewer>
</template>

<script>
import { formatDate } from '../../../utills/formatters';
import baseViewer from './baseViewer';

export default {
  name: 'dateViewer',
  components: {
    baseViewer,
  },
  props: {
    label: {
      type: String,
      default: '',
    },
    value: {
      type: [Date, String],
      default: () => new Date(),
    },
  },
  computed: {},
  methods: {
    formatDate,
  },
  data() {
    return {};
  },
};
</script>

<style lang="scss">

  .date-viewer {

  }
</style>
