<template>
<div class="image-container">
  <img
    class="image"
    :src="value"
    :alt="alt">
</div>
</template>

<script>
import baseViewer from './baseViewer';

export default {
  name: 'imageViewer',
  components: {
    baseViewer,
  },
  props: {
    label: {
      type: String,
      default: '',
    },
    value: {
      type: String,
      default: '',
    },
    alt: {
      type: String,
      default: 'base description',
    },
  },
  computed: {},
  methods: {},
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">
  .image-container {
    & .image {
      height: 400px;
      width: 400px;
    }
  }
</style>
