<template>
<baseViewer>
  <template v-slot:header>
    {{label}}
  </template>
  {{value}}
</baseViewer>
</template>

<script>
import baseViewer from './baseViewer';

export default {
  name: 'textViewer',
  components: {
    baseViewer,
  },
  props: {
    label: {
      type: String,
      default: '',
    },
    value: {
      type: [String, Number],
      default: '',
    },
  },
  computed: {},
  methods: {
  },
  data() {
    return {};
  },
};
</script>

<style lang="scss">

  .date-viewer {

  }
</style>
